# Data Types and Structures Questions

Q-1 : What are data structures, and why are they important
> * A data structure is a way of organizing and storing data in a computer so that it can be accessed and used efficiently. It refers to the logical or mathematical representation of data, as well as the implementation in a computer program.

> * Data structures are essential for two main reasons: they make the code more efficient, and they make the code easier to understand. When it comes to efficiency, data structures help the computer to run the code faster by organizing the data in a way that is easy for the computer to process.

Q-2 : Explain the difference between mutable and immutable data types with examples.
>Mutable data types allow their values to be modified after creation, while immutable data types cannot be changed once created. Examples of mutable data types include lists, dictionaries, and sets, whereas immutable data types include strings and tuples.

Q-3 : What are the main differences between lists and tuples in Python?
> * Tuples are immutable objects and lists are mutable objects.
Once defined, tuples have a fixed length and lists have a dynamic length.
* Tuples use less memory and are faster to access than to lists.
Tuple syntax uses round brackets or parenthesis, and list syntax uses square brackets.

Q-4 : Describe how dictionaries store data.
> Dictionaries are unordered collections of data and are represented with curly brackets { } . Like lists, dictionaries are mutable(changeable) and indexed. With dictionaries, data is stored in a key:value format.

Q-5 : Why might you use a set instead of a list in Python?
> In Python, both sets and lists are used to store collections of elements but they have key differences that make them suitable for different use cases. The main difference is that lists are ordered, meaning the order of elements is preserved and they can be accessed by their index while sets are unordered meaning they do not maintain the order of elements and automatically ensure all elements are unique.

Q-6 : What is a string in Python, and how is it different from a list?
> A string in Python is a sequence of characters. These characters can be letters, numbers, symbols, or whitespace. Strings are used to represent textual data.

> In Python, a string is an immutable sequence of characters, meaning once it is created, it cannot be changed. Strings are defined using either single quotes, double quotes, or triple quotes. A list, on the other hand, is a mutable sequence of elements, which means you can modify, add, or remove elements after the list has been created. Lists are defined using square brackets and can contain elements of different data types.

Q-7 : How do tuples ensure data integrity in Python?
> Tuples in Python ensure data integrity through their immutability. Once a tuple is created, its elements cannot be changed, added, or removed.

Q-8 : What is a hash table, and how does it relate to dictionaries in Python?
> A hash table in Python is a data structure that stores data in key-value pairs. It uses a hash function to compute an index into an array, where the element will be inserted or searched. This allows for fast data retrieval, insertion, and deletion.

Q-9 : Can lists contain different data types in Python?
> Yes, lists in Python can contain elements of different data types. This means a single list can hold a combination of integers, floats, strings, booleans, and even other complex data structures like lists, tuples, or dictionaries.

Q-10 :  Explain why strings are immutable in Python.
> Strings in Python are "immutable" which means they can not be changed after they are created. Some other immutable data types are integers, float, boolean, etc.

>The immutability of Python string is very useful as it helps in hashing, performance optimization, safety, ease of use, etc.

Q-11 :  What advantages do dictionaries offer over lists for certain tasks?
> Dictionary is more useful when the indexing is needed so that any search can be narrowed down and is less time-consuming.

> E.g. Saving phone numbers. If indexing is done then searching with the name will take less time than a list.

Q-12 : Describe a scenario where using a tuple would be preferable over a list.
>* Use a list if you need a mutable collection of items where you may need to add, remove, or change elements. Lists are more flexible and have more built-in methods, making them ideal for dynamic collections.
* Use a tuple if you need an immutable collection where the elements won't change after creation.

Q-13 : How do sets handle duplicate values in Python?
> In Python, sets are designed to store only unique elements. When you attempt to add a duplicate value to a set, it will not be added, and the set remains unchanged. This behavior ensures that each element in a set is distinct.

> Sets are created using curly braces {} or the set() constructor. If you initialize a set with duplicate values, the duplicates will be automatically removed, and only the unique values will be stored.

Q-14 :  How does the “in” keyword work differently for lists and dictionaries?

Q-15 : Can you modify the elements of a tuple? Explain why or why not?
> No, you cannot directly modify the elements of a tuple after it has been created. Tuples are immutable data structures, meaning their contents cannot be changed, added to, or removed from once they are defined. This immutability ensures that the data within a tuple remains consistent and predictable throughout its lifetime.

Q-16 :  What is a nested dictionary, and give an example of its use case?
> In Python, a nested dictionary is a dictionary inside a dictionary. It's a collection of dictionaries into one single dictionary.

nested_dict = { 'dictA': {'key_1': 'value_1'},
                'dictB': {'key_2': 'value_2'}}

> Here, the nested_dict is a nested dictionary with the dictionary dictA and dictB. They are two dictionary each having own key and value.

Q-17 : Describe the time complexity of accessing elements in a dictionary.
> Accessing an element in a dictionary typically has an average time complexity of O(1), meaning it takes constant time regardless of the dictionary's size. This is due to the use of a hash table, which allows for direct lookup of elements based on their key. In the worst-case scenario, where a hash function causes many collisions, the time complexity can degrade to O(n), where n is the number of elements in the dictionary.

Q-18 :  In what situations are lists preferred over dictionaries?
>If we are managing a list of tasks where the order of execution matters, lists are an ideal choice.

> Conversely, dictionaries excel in scenarios where data is associated with unique identifiers.

Q-19 : Why are dictionaries considered unordered, and how does that affect data retrieval?
> Dictionaries are considered unordered because their primary purpose is to enable fast key-based access, not to maintain a specific order of elements. They don't inherently track the order in which items are added. While you can iterate over a dictionary and see the keys in some order, this order is not guaranteed to match the insertion order and can vary depending on the implementation or language.

Q-20 :  Explain the difference between a list and a dictionary in terms of data retrieval.
> In terms of data retrieval, lists are accessed by index, while dictionaries are accessed by key. This means that to retrieve a specific element from a list, you use its numerical position (starting from 0), whereas for a dictionary, you use the associated key to find the corresponding value.

# Programming Practical

In [ ]:
# Q-1 : Write a code to create a string with your name and print it.
name = input("Please enter your name: ")
print("Hello,", name,"! Good to see you.")

Please enter your name: Sagar Mitra
Hello, Sagar Mitra ! Good to see you.

In [ ]:
# Q-2 : Write a code to find the length of the string "Hello World.
string = "Hellow World"
x = len(string)
print("Length of the string is : ",x)

Length of the string is :  12

In [ ]:
# Q-3 : Write a code to slice the first 3 characters from the string "Python Programming".
my_string = "Python Programming"
sliced_string = my_string[:3]
print("first 3 characters from the string is :",sliced_string)

first 3 characters from the string is : Pyt

In [ ]:
# Q-4 : Write a code to convert the string "hello" to uppercase.
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

In [ ]:
# Q-5 : Write a code to replace the word "apple" with "orange" in the string "I like apple".
s = "I like apple"
s1 = s.replace("apple", "orange")
print("Replaced string is :",s1)

Replaced string is : I like orange

In [ ]:
# Q-6 :  Write a code to create a list with numbers 1 to 5 and print it.
List = list(range(1,6))
print("List is :",List)

List is : [1, 2, 3, 4, 5]

In [ ]:
# Q-7 : Write a code to append the number 10 to the list [1, 2, 3, 4].
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [ ]:
# Q-8 : Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [ ]:
# Q-9 : Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list = ['a', 'b', 'c', 'd']
print("The second element is :",list[1])

The second element is : b

In [ ]:
# Q-10 : Write a code to reverse the list [10, 20, 30, 40, 50].
List = [10, 20, 30, 40, 50]
print(List)
List.reverse()
print("Reverse list is :",List)

[10, 20, 30, 40, 50]
Reverse list is : [50, 40, 30, 20, 10]

In [ ]:
# Q-11 : Write a code to create a tuple with the elements 100, 200, 300 and print it.
tup = (100,200,300)
print("Tuple is :",tup)

Tuple is : (100, 200, 300)

In [ ]:
# Q-12 : Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tup = ('red', 'green', 'blue', 'yellow')
tup2 = tup[1:len(tup)]
print(tup2)

('green', 'blue', 'yellow')

In [ ]:
# Q-13 : Write a code to find the minimum number in the tuple (10, 20, 5, 15).
num = (10, 20, 5, 15)
print(num)
min_num = min(numbers)
print("minimum number is :",min_num)

(10, 20, 5, 15)
minimum number is : 5

In [ ]:
# Q-14 : Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tup = ('dog', 'cat', 'rabbit')
x = tup.index("cat")
print("Index of cat is :",x)

Index of cat is : 1

In [ ]:
# Q-15 : Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tup = ("orange", "apple", "banana")
print(tup)
el_check = "kiwi"

if el_check in tup:
    print(f"{el_check} exists in the tuple.")
else:
    print(f"{el_check} does not exist in the tuple.")

('orange', 'apple', 'banana')
kiwi does not exist in the tuple.

In [ ]:
# Q-16 : Write a code to create a set with the elements 'a', 'b', 'c' and print it
my_set = {'a', 'b', 'c'}
print("My set is :",my_set)

My set is : {'c', 'b', 'a'}

In [ ]:
# Q-17 : Write a code to clear all elements from the set {1, 2, 3, 4, 5}
my_set = {1, 2, 3, 4, 5}
print(my_set)
my_set.clear()
print(my_set)

{1, 2, 3, 4, 5}
set()

In [ ]:
# Q-18 : Write a code to remove the element 4 from the set {1, 2, 3, 4}
my_set = {1, 2, 3, 4}
print(my_set)
my_set.remove(4)
print(my_set)

{1, 2, 3, 4}
{1, 2, 3}

In [ ]:
# Q-19 : Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = set1 | set2
print("Union of set :",set3)

Union of set : {1, 2, 3, 4, 5}

In [1]:
# Q-20 :  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4,}
set3 = set1 & set2
print("Intersection of set :",set3)

Intersection of set : {2, 3}

In [4]:
# Q-21 : Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
info = {
    "Name" : "Sagar Mitra",
    "Age" : 22,
    "City" : "Naihati"
}
print(type(info))
print(info)

<class 'dict'>
{'Name': 'Sagar Mitra', 'Age': 22, 'City': 'Naihati'}

In [5]:
# Q-22 : Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dictionary = {'name': 'John', 'age': 25}
dictionary["country"] = "USA"
print(dictionary)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [6]:
# Q-23 : Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dictionary = {'name': 'Alice', 'age': 30}
print(dictionary["name"])

Alice

In [10]:
# Q-24 : Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dictionary = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dictionary["age"]
print(dictionary)

{'name': 'Bob', 'city': 'New York'}

In [11]:
# Q-25 : Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dictionary = {'name': 'Alice', 'city': 'Paris'}
key = "city"
if (key in dictionary):
  print("Key exist in dictionary")
else:
  print("Key does not exist in dictionary")

Key exist in dictionary

In [23]:
# Q-26 : Write a code to create a list, a tuple, and a dictionary, and print them all.
List = ["Sagar Mitra", 22, "Naihati"]
print(type(List))
print("List :",List)
tup = tuple(List)
print(type(tup))
print("Tuple :",tup)
dic = {"Name":"Sagar Mitra","Age":22,"City":"Naihati"}
print(type(dic))
print("Dictionary :",dic)

<class 'list'>
List : ['Sagar Mitra', 22, 'Naihati']
<class 'tuple'>
Tuple : ('Sagar Mitra', 22, 'Naihati')
<class 'dict'>
Dictionary : {'Name': 'Sagar Mitra', 'Age': 22, 'City': 'Naihati'}

In [26]:
# Q-27 : Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
# Generate a list of random numbers (duplicates allowed)
n = 5  # Number of random numbers
listt = [random.randint(1, 100) for _ in range(n)]
print(listt)
listt.sort()
print(listt)

[74, 7, 37, 35, 22]
[7, 22, 35, 37, 74]

In [29]:
# Q-28 : Write a code to create a list with strings and print the element at the third index.
string = ["Sagar Mitra", "Minati Mitra", "Shuvra Mitra"]
print("Third element of the list is :",string[3-1])

Third element of the list is : Shuvra Mitra

In [32]:
# Q-29 : Write a code to combine two dictionaries into one and print the result.
d1 = {
    'Name' : 'Sagar Mitra',
    'Age' : 22,
    'City' : 'Kolkata'
}
d2 = {
    'Father' : 'R.K.Mitra',
    'Mother' : 'Minati Mitra'
}
d1.update(d2)
print(d1)

{'Name': 'Sagar Mitra', 'Age': 22, 'City': 'Kolkata', 'Father': 'R.K.Mitra', 'Mother': 'Minati Mitra'}

In [33]:
# Q-30 : Write a code to convert a list of strings into a set.
list1 = ['Google', 'Microsoft', 'IBM', 'Microsoft', 'IBM', 'Google']
print("list :",list1)
set1 = set(list1)
print("Set :",set1)

list : ['Google', 'Microsoft', 'IBM', 'Microsoft', 'IBM', 'Google']
Set : {'Microsoft', 'IBM', 'Google'}